<div id="column-{{column.columnId}}" class="column {{column.columnType}}" data-column-id="{{column.columnId}}">
    <h2><a href="{{game.gameId}}/{{column.columnId}}">{{column.title}}</a></h2>
    <h4></h4>
    <div class="tasks"></div>
</div>

