<div class="column {{column.columnType}}" data-column-id="{{column.columnId}}">
    <h2><a href="{{game.gameId}}/{{column.columnId}}" target="_blank">{{column.title}}</a></h2>
    <h4></h4>
    <div class="tasks"></div>
</div>

