<div class="container" id="container" data-game-id="{{game.gameId}}">
    <div class="row">
        <div class="col">
            <h1>The Dot Game</h1>
        </div>
        <div class="col">
            <button id="start-iteration">Start Iteration</button>
            <button id="stop-iteration" disabled="disabled">Stop Iteration</button>

            <label>
                Minutes
                <input id="iteration-length" type="text" value="2">
            </label>
        </div>

    </div>

    <div class="row">
        {{>iteration-stats }}

        <div class="col collapse show toggle-chart">
            <p data-bs-toggle="collapse" data-bs-target=".toggle-chart">
                Show chart
            </p>
        </div>

        <div class="col chart-container collapse toggle-chart" data-bs-toggle="collapse" data-bs-target=".toggle-chart">
            <canvas id="cfd"></canvas>
        </div>

    </div>

    <div class="row">
        <progress value="" max="" id="progressbar"></progress>
    </div>

    <div id="board" class="row">
        {{#each game.activeColumns}}
            <div class="col board-column {{columnType}}" data-column-id="{{columnId}}">
                <h2>
                    <a href="/games/{{../game.gameId}}/{{columnId}}" target="_blank">{{title}}</a>
                    <span class="participants">
                    </span>
                </h2>
                <h4></h4>
                <div class="tasks"></div>
            </div>
        {{/each}}
        <div class="col board-column done-column">
            {{#each game.endColumns}}
            <div class="row">
                <div class="col" data-column-id="{{columnId}}">
                    <h2>{{title}}</h2>
                    <h4></h4>
                    <div class="tasks"></div>
                </div>
            {{/each}}
        </div>
        </div>
    </div>

</div>

{{>cardtemplate-show }}
{{>playertemplate }}

