<div class="container" data-game-id="{{work.gameId}}" data-work-column-id="{{work.work.columnId}}">
    <h1>{{work.work.title}}</h1>

    <div class="row">
        <progress value="" id="progressbar"></progress>
    </div>

    <div class="row">
        <div id="inbox" class="wait-column col-4" data-column-id="{{work.inbox.columnId}}">
            <h2>To Test</h2>
            <div class="tasks"></div>
        </div>
        <div id="testspace" class="col-6 workspace" data-column-id="{{work.work.columnId}}" data-column-difficulty="{{work.work.difficulty}}">
            <h2>Testing</h2>
            <div class="tasks"></div>
        </div>

    </div>

    <div class="row">
        <div id="outbox" class="wait-column col" data-column-id="{{work.outbox.columnId}}">
            <h2>Done</h2>
            <div class="tasks"></div>
        </div>

        <div id="defects" class="wait-column col" data-column-id="{{work.defects.columnId}}">
            <h2>Rejected</h2>
            <div class="tasks"></div>
        </div>
    </div>

</div>

{{>cardtemplate-work }}
