<div class="container" data-game-id="{{work.gameId}}" data-work-column-id="{{work.work.columnId}}">
    <h1>{{work.work.title}}</h1>

    <div class="row">
        <progress value="" id="progressbar"></progress>
    </div>

    <div class="row" id="work-container">
        <div id="inbox" class="wait-column col-4" data-column-id="{{work.inbox.columnId}}">
            <h2>To Do</h2>
            <div class="tasks"></div>
        </div>
        <div class="col-6" >
          <div class="row">
            <div id="workspace" class="col workspace" data-column-id="{{work.work.columnId}}" data-column-difficulty="{{work.work.difficulty}}">
              <h2>Doing</h2>
              <div class="tasks"></div>
            </div>
          </div>
          <div class="row">
            <div id="outbox" class="wait-column col" data-column-id="{{work.outbox.columnId}}">
              <h2>Done</h2>
              <div class="tasks"></div>
            </div>
          </div>
        </div>
    </div>
</div>

{{>cardtemplate-work }}
