<div class="container" data-game-id="{{work.gameId}}">
    <h1>{{work.work.title}}</h1>

    <div class="row">
        <progress value="" id="progressbar"></progress>
    </div>

    <div class="row" id="work-container">
        <div id="inbox" class="wait-column col" data-column-id="{{work.inbox.columnId}}">
            <h2>Inbox</h2>
            <div class="tasks"></div>
        </div>

        <div id="workspace" class="col" data-column-id="{{work.work.columnId}}" data-column-difficulty="{{work.work.difficulty}}">
            <h2>Workspace</h2>
            <div class="tasks"></div>
        </div>

        <div id="outbox" class="wait-column col" data-column-id="{{work.outbox.columnId}}">
            <h2>Outbox</h2>
            <div class="tasks"></div>
        </div>
    </div>
</div>

{{>cardtemplate }}